<h2> Ninja Listing</h2>
<form id="filter">
    <label>Filter Ninjas by name:</label>
    <input type="text" id="term" [(ngModel)]="term" [ngModelOptions]="{standalone: true}">
</form>
<ul id="ninja-listing">
    <li *ngFor="let ninja of ninjas | filter:term">
        <div class="single-ninja">
            <!-- belt color -->
            <span [ngStyle]="{background:ninja.belt}">{{ninja.belt}} Belt</span>
            <!-- ninja name -->
            <h3>{{ninja.name | uppercase }}</h3>
            <!-- <div (Click)="remove($event)" [attr.data-name]="ninja.name">Delete</div> -->
        </div>
    </li>
</ul>